<body class="bg-primary">
  <header class="blog header content p-2 gap-2">
    <a class="home" href="/">
      <i class="fas fa-house-chimney"></i>
      Home
    </a>
    <div class="flex flex-row flex-align-end flex-justify-space-between gap-2">
      <h1>Blog Posts</h1>
    </div>
  </header>
  <main class="blog content">{{ &posts }}</main>
  <footer class="footer center">
    <div class="content p-2 flex flex-justify-end flex-align-center gap-2">
      <a
        href="https://www.linkedin.com/in/gaggun-chaggar-44bb45137/"
        target="_blank"
        >LinkedIn</a
      >
      <a href="https://github.com/Gaggun-Chaggar" target="_blank">GitHub</a>
    </div>
  </footer>
</body>
