---
assets: >
  <link rel="preload" href="/css/blog-header.css" as="style"/>
  <link rel="preload" href="/css/blog-post.css" as="style"/>
  <link rel="stylesheet" href="/css/blog-post.css" />
  <link rel="stylesheet" href="/css/blog-header.css" />
---

<header class="blog header content p-2 gap-2">
  <div class="breadcrumb">
    <a class="icon-link" href="/"> <i class="fas fa-house-chimney"></i> Home</a>
    <a href="/blog.html"> Blog </a>
  </div>
  <div class="flex flex-row flex-align-end flex-justify-space-between gap-2">
    <div>
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
    </div>
    <span>{{ date }}</span>
  </div>
</header>
<main class="blog content">{{ &article }}</main>
