---
title: "Gaggun Chaggar - Blog"
description: "Some posts from myself"
assets: >
  <link rel="preload" href="/css/blog.css" as="style"/>
  <link rel="stylesheet" href="/css/blog.css" />
---

<header class="blog header content p-2 gap-2">
  <div class="breadcrumb">
    <a class="icon-link" href="/">
      <i class="fas fa-house-chimney"></i>
      Home
    </a>
  </div>
  <div class="flex flex-row flex-align-end flex-justify-space-between gap-2">
    <h1>Blog Posts</h1>
  </div>
</header>
<main class="blog content">{{ &posts }}</main>
