<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#FBFAF8" />

    <link
      rel="preload"
      href="/fonts/NotoSans/NotoSans-Bold.ttf"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/NotoSans/NotoSans-Regular.ttf"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/NotoSans/NotoSans-Light.ttf"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/NotoSerif/NotoSerif-Light.ttf"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/NotoSerif/NotoSerif-LightItalic.ttf"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/NotoSerif/NotoSerif-Regular.ttf"
      as="font"
      crossorigin
    />

    <link rel="stylesheet" href="/css/min.css" />
    {{ &assets }}
  </head>

  {{ &body }}
</html>
