header.blog.header {
  position: inherit;
  display: flex;
  flex-direction: column;
}

header.blog {
  text-align: start;
}

header.blog .home {
  display: flex;
  gap: 2px;
  align-items: center;
}

main.blog.content {
  padding-top: calc(2 * var(--grid-px));
}

.breadcrumb {
  display: flex;
  gap: var(--grid-px);
}

.breadcrumb a {
  position: relative;
}

.breadcrumb a:not(:last-child)::after {
  content: "/";
  margin-left: var(--grid-px);
}
