@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal, 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/NotoSerif/NotoSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/NotoSerif/NotoSerif-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/NotoSerif/NotoSerif-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/NotoSerif/NotoSerif-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/NotoSerif/NotoSerif-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-SemiBold.ttf") format("truetype");
}
