header.blog.header {
  background-color: var(--colour-primary);
  border-bottom: 2px solid var(--colour-primary-dark);
  line-height: 1.2;
  position: inherit;
  display: flex;
  flex-direction: column;
}

header.blog {
  text-align: start;
}

header.blog .home {
  display: flex;
  gap: 2px;
  align-items: center;
}

main.blog.content {
  padding-top: calc(2 * var(--grid-px));
  padding-bottom: calc(2 * var(--grid-px));
  flex: 1;
}

.breadcrumb {
  display: flex;
  gap: var(--grid-px);
}

.breadcrumb a {
  position: relative;
}

.breadcrumb a:not(:last-child)::after {
  content: "/";
  margin-left: var(--grid-px);
  color: var(--colour-primary-dark);
}
