.about-content {
  flex-direction: column;
  gap: calc(4 * var(--grid-px));
  text-align: center;
}

figure.memoji {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 256px;
}

@media (min-width: 768px) {
  .about-content {
    text-align: left;
    flex-direction: row;
  }
}
