:root {
  --colour-primary: hsl(33, 30%, 96%);
  --colour-primary-dark: hsl(33, 42%, 78%);
  --colour-secondary: hsl(185, 94%, 27%);
  --colour-secondary-dark: hsl(185, 80%, 20%);
  --colour-secondary-darker: hsl(185, 80%, 17%);
  --colour-secondary-darkest: hsl(185, 80%, 15%);
  --colour-secondary-lightest: hsl(185, 24%, 87%);
  --colour-bold: hsl(4, 100%, 43%);
  --colour-bold-light: hsl(4, 80%, 63%);
  --colour-text: hsl(33, 10%, 25%);
  --colour-dark: hsl(53, 8%, 15%);
  --colour-dark-dark: hsl(53, 8%, 10%);
  --colour-dark-darker: hsl(53, 8%, 5%);
}

.bg-primary {
  background-color: var(--colour-primary);
}

.bg-secondary {
  background-color: var(--colour-secondary);
}

.bg-secondary-darkest-to-dark {
  background: radial-gradient(
    circle,
    var(--colour-secondary-dark) 0%,
    var(--colour-secondary-darker) 50%,
    var(--colour-secondary-darkest) 85%
  );
}

.bg-bold {
  background-color: var(--colour-bold);
}

.fg-primary {
  color: var(--colour-primary);
}

.fg-secondary {
  color: var(--colour-secondary);
}

.fg-bold {
  color: var(--colour-bold);
}

.fg-bold-light {
  color: var(--colour-bold-light);
}
