/** I didn't know what to call it */
.funky-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.funky-list > li > span:first-child {
  font-family: var(--sans);
  font-weight: 300;
  color: var(--colour-bold);
  min-width: 20px;
  display: inline-block;
}

.spacey > li {
  margin-bottom: var(--grid-px);
}

.disc-list {
  list-style-type: disc;
}

@media (min-width: 768px) {
  .funky-list.with-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
