@import url("./fonts.css");
@import url("./about.css");
@import url("./typography.css");
@import url("./colours.css");
@import url("./base.css");
@import url("./nav.css");
@import url("./timeline.css");
@import url("./funky-list.css");
@import url("./tooltip.css");
@import url("./tag.css");
@import url("./blog-posts.css");
@import url("./print.css");

:root {
  --grid-px: 8px;
  --bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 0.3s;
  --transition: var(--transition-duration) var(--bezier);
}

@media (min-width: 768px) {
  :root {
    --grid-px: 12px;
  }
}
