.tabs {
  display: none;
  align-items: center;
  margin-top: var(--grid-px);
  line-height: 1;
}

a.tab {
  color: var(--colour-black);
  padding-top: var(--grid-px);
  padding-left: calc(var(--grid-px) * 2);
  padding-right: calc(var(--grid-px) * 2);
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: hsla(0, 0%, 0%, 0);
  transition: color var(--transition), border var(--transition);
}

a.tab:visited {
  color: var(--colour-black);
}

a.tab:active {
  color: var(--colour-bold);
}

a.tab.active,
a.tab:hover {
  color: var(--colour-secondary);
  border-bottom-color: var(--colour-secondary);
}

a.tab:focus-visible {
  color: var(--colour-bold);
  border-bottom-color: var(--colour-bold);
}

.tabpanel[role="tabpanel"] {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity var(--transition);
}

@media (min-width: 768px) {
  @media screen {
    .tabpanel[role="tabpanel"].hidden {
      display: none;
    }

    .tabpanel[role="tabpanel"].hidden-fade-in {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.tab-heading {
  margin: 0;
  position: relative;
}

.section {
  margin-bottom: calc(4 * var(--grid-px));
}

.tab-tracker {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0%;
  transition: left var(--transition);
}

.tab-tracker:before {
  --width: 12px;
  position: absolute;
  transition: all var(--transition);
  background-color: var(--colour-secondary);
  border-radius: 2px;
  content: "";
  height: var(--width);
  width: var(--width);
  left: calc(50% - var(--width) / 2);
  bottom: calc(-1 * (var(--width) / 2) + 1px);
  transform: rotate(45deg);
}

.tab-tracker:after {
  --width: 36px;
  --height: 2px;
  content: "";
  position: absolute;
  background-color: var(--colour-secondary);
  display: block;
  height: var(--height);
  bottom: 0;
  width: var(--width);
  left: calc(50% - var(--width) / 2);
  border-radius: 1px;
  transition: all calc(var(--transition-duration) * 2) var(--bezier);
}

@media (max-width: 768px) {
  header.shrink .tab-tracker:empty::after {
    --width: 100%;
  }
}

@media (min-width: 768px) {
  @media screen {
    .tab-heading {
      display: none;
    }

    .tabs {
      display: flex;
    }

    .tab-tracker {
      --offset: 0px;
      width: 6px;
      left: calc(var(--offset) - 6px);
      visibility: var(--offset);
    }
  }
}
