.tabs {
  display: none;
  align-items: center;
  margin-top: var(--grid-px);
}

a.tab {
  color: var(--colour-black);
  padding-top: var(--grid-px);
  padding-left: calc(var(--grid-px) * 2);
  padding-right: calc(var(--grid-px) * 2);
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: hsla(0, 0%, 0%, 0);
  transition: color var(--transition), border var(--transition);
}

a.tab:visited {
  color: var(--colour-black);
}

a.tab:active {
  color: var(--colour-bold);
}

a.tab.active,
a.tab:hover {
  color: var(--colour-secondary);
  border-bottom-color: var(--colour-secondary);
}

a.tab:focus-visible {
  color: var(--colour-bold);
  border-bottom-color: var(--colour-bold);
}

.tabpanel[role="tabpanel"] {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity var(--transition);
}

@media (min-width: 768px) {
  .tabpanel[role="tabpanel"].hidden {
    display: none;
  }

  .tabpanel[role="tabpanel"].hidden-fade-in {
    visibility: hidden;
    opacity: 0;
  }
}

.tab-heading {
  margin: 0;
  position: relative;
}

.section {
  margin-bottom: calc(4 * var(--grid-px));
}

.tab-tracker {
  --radius: 6px;
  --offset: 0px;
  position: absolute;
  transition: all var(--transition);
  background-color: var(--colour-secondary);
  border-radius: 100%;
  content: "";
  height: calc(var(--radius) * 2);
  width: calc(var(--radius) * 2);
  left: 50%;
  bottom: calc(-1 * (var(--radius) + 1px));
}

.tab-tracker:empty::after {
  content: "";
  position: absolute;
  background-color: var(--colour-secondary);
  display: block;
  height: 2px;
  width: 36px;
  top: calc(50% - 1px);
  left: -12px;
  border-radius: 1px;
}

@media (min-width: 768px) {
  .tab-heading {
    display: none;
  }

  .tabs {
    display: flex;
  }

  .tab-tracker {
    left: var(--offset);
  }
}
