.print-only {
  display: none;
}

@media print {
  * {
    line-height: 1.6;
  }

  @page {
    margin-left: 0mm;
    margin-right: 0mm;
    margin-top: 8mm;
    margin-bottom: 8mm;
    size: A4;
  }
  :root {
    --colour-primary: white;
  }

  html {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: white;
  }

  main {
    padding-top: 0;
    padding-bottom: 0;
  }

  .content {
    max-width: unset;
    width: unset;
    padding-left: 16mm;
    padding-right: 16mm;
  }

  .jumbo-header {
    min-height: fit-content;
    max-height: fit-content;
    background: var(--colour-primary);
    color: var(--colour-dark);
    justify-content: start;
  }

  h1.jumbo {
    font-size: 36px;
  }

  .about-content {
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: baseline;
    text-align: left;
  }
  .about-content * {
    line-height: 1.4;
  }
  .about-content figure {
    display: none;
  }

  .about-content > div {
    padding-left: calc(2 * var(--grid-px));
  }

  .about-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .home-main > .bordered {
    border-bottom: none;
  }

  .timeline {
    padding-left: 0;
  }
  .timeline:before {
    display: none;
  }
  .timeline-title:before {
    display: none;
  }
  .timeline-title:after {
    display: none;
  }
  .print-only {
    display: block;
  }

  .footer {
    display: none;
  }

  .blog-posts {
    display: none;
  }

  .fas.fa-external-link-alt {
    display: none;
  }

  .references-wrap .content {
    width: 100%;
  }

  .references-wrap {
    background: var(--colour-primary);
  }

  .references-wrap .fg-primary {
    color: var(--colour-dark);
  }

  .references-wrap h2.fg-primary {
    color: var(--colour-secondary);
  }

  #references > .pt-2 {
    padding-top: 0;
  }

  .references blockquote div {
    background-color: transparent;
    border-color: var(--colour-secondary);
  }

  .references blockquote div:before {
    background-color: var(--colour-primary);
    border-color: var(--colour-secondary);
  }
  #causalens,
  #education {
    page-break-after: always;
  }
  .references-wrap {
    height: fit-content;
  }
}
