.references {
  list-style: none;
  margin: 0;
  padding: 0;
}

.references li:not(:last-child) {
  margin-bottom: calc(4 * var(--grid-px));
}

.references blockquote {
  margin: 0;
}

.references blockquote div {
  padding: calc(2 * var(--grid-px));
  background-color: var(--colour-secondary);
  border-radius: 2px;
  border: 2px solid transparent;
  position: relative;
  margin-bottom: 8px;
}

.references blockquote div *:last-child {
  margin-bottom: 0;
}

.references blockquote div:before {
  --half-width: 4px;
  content: "";
  width: calc(2 * var(--half-width));
  height: calc(2 * var(--half-width));
  right: calc(2 * var(--grid-px) + var(--half-width) + 1px);
  bottom: calc(-2 * var(--half-width) + 2px);
  position: absolute;
  background-color: var(--colour-secondary);
  border-radius: 2px;
  border: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: rotate(45deg);
}

.references blockquote footer {
  margin-right: var(--grid-px);
  text-align: end;
  font-weight: 300;
}

.references blockquote footer {
  font-size: 12px;
}

@media (min-width: 768px) {
  .references blockquote footer {
    font-size: 14px;
  }
}
