.timeline-metadata {
  font-size: 12px;
  font-style: italic;
}

.timeline-title {
  color: var(--colour-bold);
}

.timeline-body {
  margin-top: var(--grid-px);
}

.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-left: calc(2 * var(--grid-px));
}

.timeline:before {
  content: "";
  width: 2px;
  left: 1.5px;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--colour-primary-dark);
}

.timeline-item {
  margin-bottom: calc(2 * var(--grid-px));
}

.timeline-title {
  position: relative;
}

.timeline-title:after {
  --half-width: 4px;
  content: "";
  width: calc(2 * var(--half-width));
  height: calc(2 * var(--half-width));
  left: calc(-2 * var(--grid-px) - var(--half-width) + 0.5px);
  top: calc(50% - var(--half-width) - 1px);
  bottom: 0;
  position: absolute;
  background-color: var(--colour-primary);
  border-radius: 2px;
  border: 2px solid var(--colour-dark);
  transform: rotate(45deg);
}

.timeline-title:before {
  --height: 24px;
  content: "";
  position: absolute;
  background-color: var(--colour-dark);
  display: block;
  height: var(--height);
  width: 2px;
  top: calc(50% - var(--height) / 2 + 1px);
  left: calc(-2 * var(--grid-px) + 1.5px);
  border-radius: 2px;
}

.timeline.with-images .timeline-image {
  width: auto;
  height: 30px;
}
.timeline.with-images .timeline-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: calc(4 * var(--grid-px));
  word-wrap: break-word;
}
